.mercury{
background-color: Grey;
}
.venus{
background-color: Brown;
} 
.earth{
background-color: Blue;
}

.mars{
background-color: Red;
} 

.jupiter{
background-color: orange;
} 
.jaturn{
background-color: blue;
} 

.uranus{
background-color: grey;
}

.neptune{

background-color:  Blue;
}